
html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
}

.button {
    border: 2px solid transparent;
}
.button:hover {
    border: 2px outset #aaaaaa;
}
.button:active {
    border: 2px inset #aaaaaa;
}

#docactions {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: grey;
    border-bottom: 3px solid white;
    cursor: default;
    -webkit-user-select: none;
}

#controls {
    position: absolute;
    top: 43px;
    left: 0;
    bottom: 0;
    width: 100px;
    background-color: grey;
    border-right: 3px solid white;
    cursor: default;
    -webkit-user-select: none;
}

#colors {
    position: absolute;
    top: 43px;
    right: 0;
    bottom: 0;
    width: 200px;
    background-color: grey;
    border-left: 3px solid white;
    cursor: default;
    -webkit-user-select: none;
}

#workspace {
    background: black;
    position: absolute;
    top: 43px;
    left: 103px;
    right: 103px;
    bottom: 0;
}

#workspace .frame {
    margin: 15px;
    border: 2px solid #333333;
    display: inline-block;
    -webkit-user-select: none;
    cursor: crosshair;
}
#workspace .matrix-row {
    display: block;
    line-height: 22px;
    -webkit-user-select: none;
}
#workspace .matrix-cell {
    margin: 2px;
    border: 1px solid #333333;
    width: 20px;
    height: 20px;
    display: inline-block;
    -webkit-border-radius: 10px;
    line-height: 20px;
    vertical-align: middle;
    -webkit-user-select: none;
}

#colors .color-well {
    display: inline-block;
    width: 40px;
    height: 20px;
    border: 2px inset #aaaaaa;
    margin: 5px;
    cursor: default;
    -webkit-user-select: none;
}
#colors .color-well.current {
    box-shadow: 0 0 8px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 0 8px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0 0 8px rgba(255, 255, 255, 1);
    outline: 1px dashed rgba(255, 255, 255, 0.5);
    outline-offset: -5px;
}

#docactions .docaction {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: 3px;
    margin-left: 3px;
    background-position: center;
    background-repeat: no-repeat;
}
.docaction-new {
    background-image: url(../img/document_stroke_24x24.png);
}
.docaction-open {
    background-image: url(../img/folder_stroke_24x24.png);
}
.docaction-save {
    /* FIXME: Don't have an icon for this guy yet. */
}
.docaction-export {
    background-image: url(../img/download_18x24.png);
}
.docaction-undo {
    background-image: url(../img/undo_24x24.png);
}
.docaction-redo {
    background-image: url(../img/redo_24x24.png);
}
.docaction-properties {
    background-image: url(../img/wrench_24x24.png);
}

#dialogshroud {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}
#dialog {
    display: inline-block;
    border: 2px outset #aaaaaa;
    background: grey;
    overflow: hidden;
}
#dialogtitle {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 4px;
    border-bottom: 1px solid black;
    -webkit-user-select: none;
    cursor: default;
    white-space: nowrap;
}
#dialogframe {
    border: 0;
}
#dialogthrobber {
    display: inline-block;
    width: 66px;
    height: 66px;
    background: url(../img/throbber.gif);
}
