
html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
}

#controls {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100px;
    background-color: grey;
    border-right: 3px solid white;
    cursor: default;
    -webkit-user-select: none;
}

#colors {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    background-color: grey;
    border-left: 3px solid white;
    cursor: default;
    -webkit-user-select: none;
}

#workspace {
    background: black;
    position: absolute;
    top: 0;
    left: 103px;
    right: 103px;
    bottom: 0;
}

#workspace .frame {
    margin: 15px;
    border: 2px solid #333333;
    display: inline-block;
    -webkit-user-select: none;
    cursor: crosshair;
}
#workspace .matrix-row {
    display: block;
    line-height: 22px;
    -webkit-user-select: none;
}
#workspace .matrix-cell {
    margin: 2px;
    border: 1px solid #333333;
    width: 20px;
    height: 20px;
    display: inline-block;
    -webkit-border-radius: 10px;
    line-height: 20px;
    vertical-align: middle;
    -webkit-user-select: none;
}

#colors .color-well {
    display: inline-block;
    width: 40px;
    height: 20px;
    border: 2px inset #aaaaaa;
    margin: 5px;
    cursor: default;
    -webkit-user-select: none;
}
#colors .color-well.current {
    box-shadow: 0 0 8px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 0 8px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0 0 8px rgba(255, 255, 255, 1);
    outline: 1px dashed rgba(255, 255, 255, 0.5);
    outline-offset: -5px;
}

